grpcio-tools
qrcode
click
types_protobuf
pyyaml

packaging
aioconsole

# databasebot
dataset
psycopg2_binary
sqlalchemy-bigquery[bqstorage]
phonenumbers

cloudpathlib[gs]
tink[gcpkms]

python-dotenv==1.0.1
